.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.container button {
  color: white;
  background-color: rgb(70, 110, 243);
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 230px;
}

.container button:hover {
  background-color: rgb(55, 87, 192);
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field input {
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}
